<a href="https://colab.research.google.com/github/ehadsaloF/NewYork-Accident-Analysis/blob/main/Cleaning_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter

import tqdm
from tqdm.auto import tqdm
from tqdm._tqdm_notebook import tqdm_notebook

<ipython-input-2-99d769b962c8>:8: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.*` instead of `tqdm._tqdm_notebook.*`
  from tqdm._tqdm_notebook import tqdm_notebook

In [ ]:
#importing data from Maven Analytics
df = pd.read_csv("https://maven-datasets.s3.amazonaws.com/NYC+Traffic+Accidents/NYC+Accidents+2020.csv.zip")

In [ ]:
#checking the datatype of the columns
df.dtypes

CRASH DATE                        object
CRASH TIME                        object
BOROUGH                           object
ZIP CODE                         float64
LATITUDE                         float64
LONGITUDE                        float64
LOCATION                          object
ON STREET NAME                    object
CROSS STREET NAME                 object
OFF STREET NAME                   object
NUMBER OF PERSONS INJURED          int64
NUMBER OF PERSONS KILLED           int64
NUMBER OF PEDESTRIANS INJURED      int64
NUMBER OF PEDESTRIANS KILLED       int64
NUMBER OF CYCLIST INJURED          int64
NUMBER OF CYCLIST KILLED           int64
NUMBER OF MOTORIST INJURED         int64
NUMBER OF MOTORIST KILLED          int64
CONTRIBUTING FACTOR VEHICLE 1     object
CONTRIBUTING FACTOR VEHICLE 2     object
CONTRIBUTING FACTOR VEHICLE 3     object
CONTRIBUTING FACTOR VEHICLE 4     object
CONTRIBUTING FACTOR VEHICLE 5     object
COLLISION_ID                       int64
VEHICLE TYPE CODE 1               object
VEHICLE TYPE CODE 2               object
VEHICLE TYPE CODE 3               object
VEHICLE TYPE CODE 4               object
VEHICLE TYPE CODE 5               object
dtype: object

In [ ]:
#Changing the datatype of Crash Date and Crash Time 
df["CRASH DATE"] = pd.to_datetime(df['CRASH DATE'], format='%Y-%m-%d')
df["CRASH TIME"] = pd.to_datetime(df['CRASH TIME'])

#confirming the changes
df.dtypes

CRASH DATE                       datetime64[ns]
CRASH TIME                       datetime64[ns]
BOROUGH                                  object
ZIP CODE                                float64
LATITUDE                                float64
LONGITUDE                               float64
LOCATION                                 object
ON STREET NAME                           object
CROSS STREET NAME                        object
OFF STREET NAME                          object
NUMBER OF PERSONS INJURED                 int64
NUMBER OF PERSONS KILLED                  int64
NUMBER OF PEDESTRIANS INJURED             int64
NUMBER OF PEDESTRIANS KILLED              int64
NUMBER OF CYCLIST INJURED                 int64
NUMBER OF CYCLIST KILLED                  int64
NUMBER OF MOTORIST INJURED                int64
NUMBER OF MOTORIST KILLED                 int64
CONTRIBUTING FACTOR VEHICLE 1            object
CONTRIBUTING FACTOR VEHICLE 2            object
CONTRIBUTING FACTOR VEHICLE 3            object
CONTRIBUTING FACTOR VEHICLE 4            object
CONTRIBUTING FACTOR VEHICLE 5            object
COLLISION_ID                              int64
VEHICLE TYPE CODE 1                      object
VEHICLE TYPE CODE 2                      object
VEHICLE TYPE CODE 3                      object
VEHICLE TYPE CODE 4                      object
VEHICLE TYPE CODE 5                      object
dtype: object

In [ ]:
#checking for duplicates
df.duplicated().sum()

0

In [ ]:
df.shape

(74881, 29)

In [ ]:
#checking for missing values
df.isna().sum()

CRASH DATE                           0
CRASH TIME                           0
BOROUGH                          25741
ZIP CODE                         25747
LATITUDE                          5946
LONGITUDE                         5946
LOCATION                          5946
ON STREET NAME                   19437
CROSS STREET NAME                39200
OFF STREET NAME                  55444
NUMBER OF PERSONS INJURED            0
NUMBER OF PERSONS KILLED             0
NUMBER OF PEDESTRIANS INJURED        0
NUMBER OF PEDESTRIANS KILLED         0
NUMBER OF CYCLIST INJURED            0
NUMBER OF CYCLIST KILLED             0
NUMBER OF MOTORIST INJURED           0
NUMBER OF MOTORIST KILLED            0
CONTRIBUTING FACTOR VEHICLE 1      304
CONTRIBUTING FACTOR VEHICLE 2    15596
CONTRIBUTING FACTOR VEHICLE 3    68116
CONTRIBUTING FACTOR VEHICLE 4    73030
CONTRIBUTING FACTOR VEHICLE 5    74358
COLLISION_ID                         0
VEHICLE TYPE CODE 1                635
VEHICLE TYPE CODE 2              21243
VEHICLE TYPE CODE 3              68457
VEHICLE TYPE CODE 4              73110
VEHICLE TYPE CODE 5              74378
dtype: int64

In [ ]:
#getting the number of records that have all vehicle type codes missing
df[df["VEHICLE TYPE CODE 1"].isna() & df["VEHICLE TYPE CODE 2"].isna() & df["VEHICLE TYPE CODE 3"].isna() & df["VEHICLE TYPE CODE 4"].isna() & df["VEHICLE TYPE CODE 5"].isna()].isna().sum()

CRASH DATE                         0
CRASH TIME                         0
BOROUGH                          147
ZIP CODE                         147
LATITUDE                          29
LONGITUDE                         29
LOCATION                          29
ON STREET NAME                   184
CROSS STREET NAME                284
OFF STREET NAME                  451
NUMBER OF PERSONS INJURED          0
NUMBER OF PERSONS KILLED           0
NUMBER OF PEDESTRIANS INJURED      0
NUMBER OF PEDESTRIANS KILLED       0
NUMBER OF CYCLIST INJURED          0
NUMBER OF CYCLIST KILLED           0
NUMBER OF MOTORIST INJURED         0
NUMBER OF MOTORIST KILLED          0
CONTRIBUTING FACTOR VEHICLE 1    247
CONTRIBUTING FACTOR VEHICLE 2    624
CONTRIBUTING FACTOR VEHICLE 3    635
CONTRIBUTING FACTOR VEHICLE 4    635
CONTRIBUTING FACTOR VEHICLE 5    635
COLLISION_ID                       0
VEHICLE TYPE CODE 1              635
VEHICLE TYPE CODE 2              635
VEHICLE TYPE CODE 3              635
VEHICLE TYPE CODE 4              635
VEHICLE TYPE CODE 5              635
dtype: int64

In [ ]:
#deleting records that have no vehicle type code
df = df.dropna(how='all', subset=["VEHICLE TYPE CODE 1", "VEHICLE TYPE CODE 2", 
                                  "VEHICLE TYPE CODE 3", "VEHICLE TYPE CODE 4", 
                                  "VEHICLE TYPE CODE 5",])

In [ ]:
# checking if the location, latittude ans longitude have the same records 
#with missing values
df[df['LATITUDE'].isnull()].isna().sum()

CRASH DATE                          0
CRASH TIME                          0
BOROUGH                          4536
ZIP CODE                         4536
LATITUDE                         5917
LONGITUDE                        5917
LOCATION                         5917
ON STREET NAME                    569
CROSS STREET NAME                3148
OFF STREET NAME                  5348
NUMBER OF PERSONS INJURED           0
NUMBER OF PERSONS KILLED            0
NUMBER OF PEDESTRIANS INJURED       0
NUMBER OF PEDESTRIANS KILLED        0
NUMBER OF CYCLIST INJURED           0
NUMBER OF CYCLIST KILLED            0
NUMBER OF MOTORIST INJURED          0
NUMBER OF MOTORIST KILLED           0
CONTRIBUTING FACTOR VEHICLE 1       2
CONTRIBUTING FACTOR VEHICLE 2    1152
CONTRIBUTING FACTOR VEHICLE 3    5352
CONTRIBUTING FACTOR VEHICLE 4    5770
CONTRIBUTING FACTOR VEHICLE 5    5883
COLLISION_ID                        0
VEHICLE TYPE CODE 1                 0
VEHICLE TYPE CODE 2              1435
VEHICLE TYPE CODE 3              5378
VEHICLE TYPE CODE 4              5775
VEHICLE TYPE CODE 5              5885
dtype: int64

In [ ]:
#dropping records with missing latitude and longitude
df = df.dropna(how='all', subset=["LATITUDE"])

#checking if records were dropped
df[df['LATITUDE'].isnull()].isna().sum()

CRASH DATE                       0.0
CRASH TIME                       0.0
BOROUGH                          0.0
ZIP CODE                         0.0
LATITUDE                         0.0
LONGITUDE                        0.0
LOCATION                         0.0
ON STREET NAME                   0.0
CROSS STREET NAME                0.0
OFF STREET NAME                  0.0
NUMBER OF PERSONS INJURED        0.0
NUMBER OF PERSONS KILLED         0.0
NUMBER OF PEDESTRIANS INJURED    0.0
NUMBER OF PEDESTRIANS KILLED     0.0
NUMBER OF CYCLIST INJURED        0.0
NUMBER OF CYCLIST KILLED         0.0
NUMBER OF MOTORIST INJURED       0.0
NUMBER OF MOTORIST KILLED        0.0
CONTRIBUTING FACTOR VEHICLE 1    0.0
CONTRIBUTING FACTOR VEHICLE 2    0.0
CONTRIBUTING FACTOR VEHICLE 3    0.0
CONTRIBUTING FACTOR VEHICLE 4    0.0
CONTRIBUTING FACTOR VEHICLE 5    0.0
COLLISION_ID                     0.0
VEHICLE TYPE CODE 1              0.0
VEHICLE TYPE CODE 2              0.0
VEHICLE TYPE CODE 3              0.0
VEHICLE TYPE CODE 4              0.0
VEHICLE TYPE CODE 5              0.0
dtype: float64

In [ ]:
#getting the list of latitude and longitude for missing Borough values
joined_column = df[df['BOROUGH'].isnull()& df['LATITUDE'].notnull()].apply(lambda x: str(x["LATITUDE"]) + ", " + str(x["LONGITUDE"]), axis=1).to_list()

#removing duplicates from the list
joined_column = list(set(joined_column))

#changing to a datframe
joined_column = pd.DataFrame(list(set(joined_column)))


# Renaming column
joined_column.columns = ['Location']
joined_column.head()

                Location
0   40.65499, -73.829834
1   40.729553, -73.91188
2    40.736652, -73.9079
3     40.71713, -73.7986
4  40.712532, -74.007675

In [ ]:
#getting the list of latitude and longitude for missing ONStreet values
on_street = df[df['ON STREET NAME'].isnull()& df['LATITUDE'].notnull()].apply(lambda x: str(x["LATITUDE"]) + ", " + str(x["LONGITUDE"]), axis=1).to_list()

#removing duplicates
on_street = pd.DataFrame(list(set(on_street)))


# Rename column 'A' to 'X'
on_street.columns = ['Location']
on_street.head()

               Location
0  40.69271, -73.894905
1  40.601147, -73.98413
2  40.769337, -73.95488
3   40.67575, -73.73476
4  40.886765, -73.86104

In [ ]:
# Join the dataframes based on the 'Location' column
miss_rec = pd.concat([joined_column, on_street]).drop_duplicates().reset_index(drop=True)

miss_rec.head()

                Location
0   40.65499, -73.829834
1   40.729553, -73.91188
2    40.736652, -73.9079
3     40.71713, -73.7986
4  40.712532, -74.007675

In [ ]:
# Initialize geolocator object
geolocator = Nominatim(user_agent='my_app', timeout=10)
tqdm.pandas()
revgeo = RateLimiter(geolocator.reverse, min_delay_seconds=0.001)

In [ ]:
# Applyting the reverse geocoding method
miss_rec['address'] = miss_rec['Location'].progress_apply(revgeo)

miss_rec.head()

  0%|          | 0/25861 [00:00<?, ?it/s]

WARNING:geopy:RateLimiter caught an error, retrying (0/2 tries). Called with (*('40.753536, -73.88405',), **{}).
Traceback (most recent call last):
  File "/usr/local/lib/python3.8/dist-packages/geopy/geocoders/base.py", line 344, in _call_geocoder
    page = requester(req, timeout=timeout, **kwargs)
  File "/usr/lib/python3.8/urllib/request.py", line 531, in open
    response = meth(req, response)
  File "/usr/lib/python3.8/urllib/request.py", line 640, in http_response
    response = self.parent.error(
  File "/usr/lib/python3.8/urllib/request.py", line 569, in error
    return self._call_chain(*args)
  File "/usr/lib/python3.8/urllib/request.py", line 502, in _call_chain
    result = func(*args)
  File "/usr/lib/python3.8/urllib/request.py", line 649, in http_error_default
    raise HTTPError(req.full_url, code, msg, hdrs, fp)
urllib.error.HTTPError: HTTP Error 502: Bad Gateway

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.8/dist-packages/geopy/extra/rate_limiter.py", line 130, in __call__
    return self.func(*args, **kwargs)
  File "/usr/local/lib/python3.8/dist-packages/geopy/geocoders/osm.py", line 369, in reverse
    self._call_geocoder(url, timeout=timeout), exactly_one
  File "/usr/local/lib/python3.8/dist-packages/geopy/geocoders/base.py", line 362, in _call_geocoder
    raise ERROR_CODE_MAP[code](message)
geopy.exc.GeocoderServiceError: HTTP Error 502: Bad Gateway
WARNING:geopy:RateLimiter caught an error, retrying (0/2 tries). Called with (*('40.671703, -73.91888',), **{}).
Traceback (most recent call last):
  File "/usr/local/lib/python3.8/dist-packages/geopy/geocoders/base.py", line 344, in _call_geocoder
    page = requester(req, timeout=timeout, **kwargs)
  File "/usr/lib/python3.8/urllib/request.py", line 531, in open
    response = meth(req, response)
  File "/usr/lib/python3.8/urllib/request.py", line 640, in http_response
    response = self.parent.error(
  File "/usr/lib/python3.8/urllib/request.py", line 569, in error
    return self._call_chain(*args)
  File "/usr/lib/python3.8/urllib/request.py", line 502, in _call_chain
    result = func(*args)
  File "/usr/lib/python3.8/urllib/request.py", line 649, in http_error_default
    raise HTTPError(req.full_url, code, msg, hdrs, fp)
urllib.error.HTTPError: HTTP Error 502: Bad Gateway

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.8/dist-packages/geopy/extra/rate_limiter.py", line 130, in __call__
    return self.func(*args, **kwargs)
  File "/usr/local/lib/python3.8/dist-packages/geopy/geocoders/osm.py", line 369, in reverse
    self._call_geocoder(url, timeout=timeout), exactly_one
  File "/usr/local/lib/python3.8/dist-packages/geopy/geocoders/base.py", line 362, in _call_geocoder
    raise ERROR_CODE_MAP[code](message)
geopy.exc.GeocoderServiceError: HTTP Error 502: Bad Gateway
WARNING:geopy:RateLimiter caught an error, retrying (0/2 tries). Called with (*('40.822594, -73.90269',), **{}).
Traceback (most recent call last):
  File "/usr/local/lib/python3.8/dist-packages/geopy/geocoders/base.py", line 344, in _call_geocoder
    page = requester(req, timeout=timeout, **kwargs)
  File "/usr/lib/python3.8/urllib/request.py", line 531, in open
    response = meth(req, response)
  File "/usr/lib/python3.8/urllib/request.py", line 640, in http_response
    response = self.parent.error(
  File "/usr/lib/python3.8/urllib/request.py", line 569, in error
    return self._call_chain(*args)
  File "/usr/lib/python3.8/urllib/request.py", line 502, in _call_chain
    result = func(*args)
  File "/usr/lib/python3.8/urllib/request.py", line 649, in http_error_default
    raise HTTPError(req.full_url, code, msg, hdrs, fp)
urllib.error.HTTPError: HTTP Error 502: Bad Gateway

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.8/dist-packages/geopy/extra/rate_limiter.py", line 130, in __call__
    return self.func(*args, **kwargs)
  File "/usr/local/lib/python3.8/dist-packages/geopy/geocoders/osm.py", line 369, in reverse
    self._call_geocoder(url, timeout=timeout), exactly_one
  File "/usr/local/lib/python3.8/dist-packages/geopy/geocoders/base.py", line 362, in _call_geocoder
    raise ERROR_CODE_MAP[code](message)
geopy.exc.GeocoderServiceError: HTTP Error 502: Bad Gateway

                Location                                            address
0   40.65499, -73.829834  (102-15, 1st Street, Hamilton Beach, Queens, C...
1   40.729553, -73.91188  (54-25, 58th Street, Maspeth, Queens, City of ...
2    40.736652, -73.9079  (Brooklyn-Queens Expressway, Queens County, Ci...
3     40.71713, -73.7986  (Grand Central Parkway, Queens County, City of...
4  40.712532, -74.007675  (Broadway, Tribeca, Manhattan, New York County...

In [ ]:
from google.colab import files
# Exporting the DataFrame to a CSV file
miss_rec.to_csv('miss_rec.csv', index=False)
files.download('miss_rec.csv')

In [ ]:
#all boroughs in New york
bors = ['Bronx', 'Brooklyn', 'Queens', 'Manhattan', 'Staten Island']

In [ ]:
# Split the 'address' column and extract the Borough, On street name and Zip code
miss_rec["address"] = miss_rec["address"].apply(lambda x: str(x))

In [ ]:
# Define a function to get Boroughs if they match a value in the list
def replace_value(value):
    for i in bors:
      if i in value:
        return i
    else:
        return 'unknown'

In [ ]:
# Apply the function to the address column
miss_rec['Borough'] = miss_rec['address'].apply(replace_value)

#Getting 'On Street name' from the address
miss_rec["ON STREET"] = miss_rec["address"].apply(lambda x: str(x).split(", ")[1] if (x and ", " in x) else "")

#Getting 'Zip Code' from the address
miss_rec["Zip Code"] = miss_rec["address"].apply(lambda x: str(x).split(", ")[-2] if (x and ", " in x) else "")

#Location
miss_rec["LOCATION"] = miss_rec["Location"].apply(lambda x: "POINT (" + str(x).split(", ")[-1] + " " + str(x).split(", ")[0] + ")" if (x and ", " in x) else "" )

miss_rec.Borough.value_counts()

Brooklyn         8825
Queens           6776
Bronx            4710
Manhattan        3955
Staten Island    1125
unknown           470
Name: Borough, dtype: int64

In [ ]:
# Merge the two DataFrames on the ID column and replace missing values in df1 with values from df2
df_merge = pd.merge(df, miss_rec, on='LOCATION', how='left')


df_merge['BOROUGH'].fillna(df_merge['Borough'], inplace=True)
df_merge['ZIP CODE'].fillna(df_merge['Zip Code'], inplace=True)
df_merge['ON STREET NAME'].fillna(df_merge['ON STREET'], inplace=True)

# The resulting DataFrame with replaced missing values
df_merge = df_merge.drop(['Location', 'address', "Borough", 'ON STREET', 'Zip Code'], axis=1)

#removing unknown values for borough
df_merge = df_merge[df_merge.BOROUGH != 'unknown']

# Remove null values from column_name
df_merge = df_merge.dropna(subset=['BOROUGH', 'ZIP CODE', 'ON STREET NAME'])
df_merge.isna().sum()

In [ ]:
#Inspecting the values
df_merge['VEHICLE TYPE CODE 1'].value_counts()

Sedan                                  31251
Station Wagon/Sport Utility Vehicle    25178
Taxi                                    2569
Pick-up Truck                           1702
Box Truck                               1287
                                       ...
ELEC. UNIC                                 1
DELIVERY T                                 1
MTA BUS                                    1
MECHANICAL                                 1
TANK                                       1
Name: VEHICLE TYPE CODE 1, Length: 255, dtype: int64

In [ ]:
#Inspecting the values
df_merge['VEHICLE TYPE CODE 2'].value_counts()

Sedan                                  20671
Station Wagon/Sport Utility Vehicle    16925
Bike                                    2165
Taxi                                    1524
Box Truck                               1413
                                       ...
Tree cutte                                 1
Sanitation                                 1
SCOOT                                      1
UTILITY TR                                 1
crane                                      1
Name: VEHICLE TYPE CODE 2, Length: 273, dtype: int64

In [ ]:
#Inspecting the values
df_merge['VEHICLE TYPE CODE 3'].value_counts()

Sedan                                  2825
Station Wagon/Sport Utility Vehicle    2439
Pick-up Truck                           136
Taxi                                    121
Box Truck                                63
Bus                                      29
Bike                                     28
Van                                      25
Tractor Truck Diesel                     24
Motorcycle                               18
Convertible                              18
4 dr sedan                                9
PK                                        7
Flat Bed                                  6
E-Scooter                                 6
Dump                                      5
E-Bike                                    4
Tow Truck / Wrecker                       4
Carry All                                 3
Tractor Truck Gasoline                    3
Garbage or Refuse                         3
Concrete Mixer                            3
Chassis Cab                               3
Multi-Wheeled Vehicle                     3
Ambulance                                 2
Motorbike                                 2
van                                       2
bmw moped                                 1
Motorized Home                            1
LIMO                                      1
TRANSPORT                                 1
TRACTOR TR                                1
trailer                                   1
FDNY FIRET                                1
FIRE TRUCK                                1
UHAUL Trai                                1
CONCRETE M                                1
UHAUL BOX                                 1
UNATTACHED                                1
AMBULANCE                                 1
MTA BUS                                   1
Stake or Rack                             1
TRAILER                                   1
unknown                                   1
Flat Rack                                 1
CARGO VAN                                 1
Lift Boom                                 1
Name: VEHICLE TYPE CODE 3, dtype: int64

In [ ]:
#Inspecting the values
df_merge['VEHICLE TYPE CODE 4'].value_counts()

Sedan                                  802
Station Wagon/Sport Utility Vehicle    694
Pick-up Truck                           34
Taxi                                    25
Box Truck                                8
Motorcycle                               7
Convertible                              7
Bus                                      5
Dump                                     4
Van                                      4
Tractor Truck Diesel                     3
Chassis Cab                              2
E-Scooter                                2
Bike                                     2
LIMO                                     2
Open Body                                1
Carry All                                1
Box                                      1
CARGO VAN                                1
trailor                                  1
TRAILER                                  1
E-Bike                                   1
Refrigerated Van                         1
FLATBED TR                               1
FDNY                                     1
Name: VEHICLE TYPE CODE 4, dtype: int64

In [ ]:
#Inspecting the values
df_merge['VEHICLE TYPE CODE 5'].value_counts()

Sedan                                  227
Station Wagon/Sport Utility Vehicle    196
Pick-up Truck                           15
Taxi                                     5
Van                                      4
PK                                       3
Motorcycle                               3
Convertible                              3
Tractor Truck Diesel                     2
Box Truck                                2
Motorscooter                             1
E-Scooter                                1
BOX Truck                                1
Box truck                                1
Dump                                     1
Bus                                      1
Name: VEHICLE TYPE CODE 5, dtype: int64

In [ ]:
#The vehicle type has wrongly spelt values 
#dictionary mapping wrong values to correct values
mis_val = {'Sedan': 'Sedan',
 'Station Wagon/Sport Utility Vehicle': 'Station Wagon',
 'Taxi': 'Taxi',
 'Pick-up Truck': 'Truck',
 'Box Truck': 'Truck',
 'Bike': 'Bike',
 'Bus': 'Bus',
 'Motorcycle': 'Motorcycle',
 'Tractor Truck Diesel': 'Tractor',
 'Van': 'Van',
 'Ambulance': 'Ambulance',
 'E-Scooter': 'E-Scooter',
 'Convertible': 'Sedan',
 'Dump': 'Truck',
 'E-Bike': 'E-Bike',
 'PK': 'Truck',
 '4 dr sedan': 'Sedan',
 'Flat Bed': 'Truck',
 'Garbage Or Refuse': 'Garbage Truck',
 'Moped': 'Moped',
 'AMBULANCE': 'Ambulance',
 'Carry All': 'Utility Vehicle', 
 'Tow Truck / Wrecker': 'Tow Truck',
 'Chassis Cab': 'Truck',
 'Tractor Truck Gasoline': 'Tractor',
 'Tanker': 'Tanker',
 'Motorscooter': 'Moped',
 'Motorbike': 'Motorbike',
 'LIMO': 'Limousine',
 'Concrete Mixer': 'Construction Vehicle',
 'ambulance': 'Ambulance',
 'TRAILER': 'Trailer',
 '3-Door': 'Sedan',
 'FIRE TRUCK': 'Fire Truck',
 'Beverage Truck': 'Truck',
 'Flat Rack': 'Truck',
 'Lift Boom': 'Utility Vehicle',
 'School Bus': 'School Bus',
 'Refrigerated Van': 'Van',
 'Armored Truck': 'Armored Truck',
 'Multi-Wheeled Vehicle': 'Truck',
 '2 dr sedan': 'Sedan',
 'MOPED': 'Moped',
 'AMBU': 'Ambulance',
 'TRUCK': 'Truck',
 'Bulk Agriculture': 'Utility vehicle',
 'van': 'Van',
 'Minibike': 'Moped',
 'Stake or Rack': 'Trailer',
 'BOX TRUCK': 'Truck',
 'Trailer': 'Trailer',
 'FIRETRUCK': 'Fire Truck',
 'Open Body': 'Truck',
 'FDNY TRUCK': 'Fire Truck',
 'USPS': 'Van',
 'UTIL': 'Utility Vehicle',
 'REFG': 'Van',
 'moped': 'Moped',
 'FIRE ENGIN': 'Fire Truck',
 'Fire Truck': 'Fire Truck',
 'DELV': 'Van',
 'POSTAL TRU': 'Truck',
 'UNK': 'Unknown',
 'government': 'Government Vehicle',
 'postal tru': 'Truck',
 'Minicycle': 'Moped',
 'ambu': 'Ambulance',
 'DELIVERY': 'Van',
 'PICK UP': 'Truck',
 'FLATBED': 'Truck',
 'FDNY FIRE': 'Fire Truck',
 'TRK': 'Truck',
 'USPS TRUCK': 'Truck',
 'FDNY AMBUL': 'Ambulance',
 'DELIVERY V': 'Van',
 'Cargo Van': 'Van',
 'FDNY Ambul': 'Ambulance',
 'TOW TRUCK': 'Tow Truck',
 'SCOOTER': 'Scooter',
 'GARBAGE TR': 'Garbage Truck',
 'TRAC': 'Tractor',
 'Fdny ambul': 'Ambulance',
 'dump truck': 'Truck',
 'forklift': 'Forklift',
 'FORK LIFT': 'Forklift',
 'Pick up': 'Truck',
 'LIGHT TRAI': 'Trailer',
 'GOLF CART': 'Utility Vehicle',
 'Van Camper': 'Van',
 'UNKNOWN': 'Unknown',
 'Work van': 'Van',
 'Motorized Home': 'Van',
 'e skate bo': 'Skateboard',
 'Enclosed Body - Removable Enclosure': 'Truck',
 'MOTOR SCOO': 'Moped',
 'SUBURBAN': 'SUV',
 'Commercial': 'Commercial Vehicle',
 'E bike': 'E-Bike',
 'BACK HOE': 'Construction Vehicle',
 'fire truck': 'Fire Truck',
 'E-bike': 'E-Bike',
 'LCOMM': 'Unknown',
 'FREIG': 'Trailer',
 'PICK UP TR': 'Truck',
 'FDNY Fire': 'Fire Truck',
 'Ford Van': 'Van',
 'PICK-UP TR': 'Truck',
 'CHEVROLET': 'SUV',
 'Ford sprin': 'SUV',
 'hrse': 'Horse',
 'MAIL TRUCK': 'Truck',
 'EMS': 'Van',
 'COM TRANS': 'Commercial Vehicle',
 '0': 'Unknown',
 'E-BIKE': 'E-Bike',
 'DIRT BIKE': 'Motorbike',
 'pc': 'Sedan',
 'Hearse': 'Hearse',
 'Firetruck': 'Fire Truck',
 'FDNY EMT': 'Fire Truck',
 'OMR': 'Unknown',
 'FDNY FIRET': 'Fire Truck',
 'pick': 'Truck',
 'Tow': 'Tow Truck',
 'CARGO VAN': 'Van',
 'TRAIL': 'Trail',
 'DUMP': 'Truck',
 'Pickup with mounted Camper': 'Truck',
 'delviery': 'Van',
 'SCHOOL BUS': 'School Bus',
 'Tow Truck': 'Tow Truck',
 'AMB': 'Ambulance',
 'Horse Trai': 'Horse',
 'USPS #7530': 'Van',
 'FDNY': 'Fire Truck',
 'delivery v': 'Van',
 'E-Bik': 'E-Bike',
 'FDNY LADDE': 'Fire Truck',
 'FREIG DELV': 'Truck',
 'Utility.': 'Utility Vehicle',
 'PUSH SCOOT': 'Children Vehicle',
 'White ambu': 'Ambulance',
 'SELF INSUR': 'Unknown',
 'FREIGHTLIN': 'Truck',
 'FREIGHT TR': 'Truck',
 'Fire truck': 'Fire Truck',
 'USPS POSTA': 'Van',
 'Tow truck': 'Tow Truck',
 'escavator': 'Construction Vehicle',
 'P/SH': 'Unknown',
 'TRL': 'Trailer',
 'Lunch Wagon': 'Truck',
 'Dump truck': 'Truck',
 'ford econo': 'SUV',
 'commercial': 'Commercial Vehicle',
 'com': 'Commercial Vehicle',
 'tow truck': 'Tow Truck',
 'Go kart': 'Utility Vehicle',
 'FDNY #226': 'Fire Truck',
 'FREIGHT FL': 'Trailer',
 'Delv': 'Van',
 'truck': 'Truck',
 'Livestock Rack': 'Truck',
 'box truck': 'Truck',
 'USPS VAN': 'Van',
 '18 WHEELER': 'Trailer',
 'AMBULENCE': 'Ambulance',
 'FOOD TRUCK': 'Truck',
 'MOVING VAN': 'Van',
 'backhoe': 'Construction Vehicle',
 'COMMERCIAL': 'Commercial Vehicle',
 'Tractor': 'Tractor',
 'MOTORSCOOT': 'Moped',
 'cross': 'SUV',
 'JOHN DEERE': 'Utility Vehicle',
 'TRUCK VAN': 'Van',
 'Work Van': 'Van',
 'Lawnmower': 'Utility Vehicle',
 'SWT': 'Unknown',
 'COURIER': 'Van',
 'PSD': 'Sedan',
 'FDNY fire': 'Fire Truck',
 'dilevery t': 'Truck',
 'Front-Load': 'Trailer',
 'DRILL RIG': 'Construction Vehicle',
 'GEN  AMBUL': 'Ambulance',
 'Tractor tr': 'Tractor',
 'Pumper': 'Fire Truck',
 'OTH': 'Unknown',
 'TRUCK FLAT': 'Truck',
 'UNKN': 'Unknown',
 'UTILITY VE': 'Utility Vehicle',
 'suburban': 'SUV',
 'WORK VAN': 'Van',
 'CAT': 'Construction Vehicle',
 'Pick up Tr': 'Truck',
 'ELEC. UNIC': 'Unknown',
 'DELIVERY T': 'Truck',
 'MTA BUS': 'Bus',
 'MECHANICAL': 'Sedan',
 'NYC AMBULA': 'Ambulance',
 'ELECTRIC S': 'E-Scooter',
 'postal bus': 'van',
 'Trc': 'Truck',
 'NYC FD': 'Fire Truck',
 'Pedicab': 'Pedicab',
 'f-250': 'Truck',
 'FUSION': 'Sedan',
 'FDNY ENGIN': 'Fire Truck',
 'CHEVY EXPR': 'Van',
 'UT': 'Unknown',
 'Unknown': 'Unknown',
 'Bucket Tru': 'Truck',
 'usps': 'Van',
 'DOT EQUIPM': 'Truck',
 'ROAD SWEEP': 'Utility Vehicle',
 'Wh Ford co': 'Truck',
 'SLINGSHOT': 'Utility Vehicle',
 'Horse': 'Horse',
 'FD LADDER': 'Fire Truck',
 'Fork lift' : 'Forklift',
 'E REVEL SC': 'E-Scooter',
 'UPS TRUCK': 'Truck',
 'Freight': 'Truck',
 'BOBCAT FOR': 'Truck',
 'FDNY Engin': 'Fire Truck',
 'School bus': 'School Bus',
 'Sanitation': 'Truck',
    'Ice Cream': 'Truck',
    'Pickup': 'Truck',
    'Tractor Tr': 'Tractor',
    'Enclosed Body - Nonremovable Enclosure': 'Unknown',
    'Fdny Ems': 'Fire Truck',
    'Pallet': 'Unknown',
    'Lcom': 'Unknown',
    'Glnen': 'Sedan',
    'Sweeper': 'Road Sweeper',
    'Tl': 'Sedan',
    'Fd Truck': 'Fire Truck',
    'Fire': 'Fire Truck',
    'Itas': 'Sedan',
    'Uhaul Truc': 'Truck',
    '18 Weeler': 'Trailer',
    'Mailtruck': 'Truck',
    'E-Scoter': 'E-Scooter',
    'Lma': 'Unknown',
    'Skid Loade': 'Construction Vehicle',
    'T630 Forkl': 'Forklift',
    'Rds': 'Sedan',
    'Access A R': 'Bus',
    'Crane': 'Construction Vehicle',
    'Omt': 'Unknown',
    'Postal Veh': 'Truck',
    'Forklift T': 'Forklift',
    'City Mta B': 'Bus',
    'Pumper Tru': 'Fire Truck',
    'Trailor': 'Trailer',
    'Glben': 'Sedan',
    'Armored Tr': 'Armored Truck',
    'Sprinter V': 'Van',
    'Excavator': 'Construction Vehicle',
    'Pickup Tru': 'Truck',
    'Uhaul': 'Truck',
    'Cmix': 'Construction Vehicle',
    'Tract': 'Tractor',
    'Constructi': 'Construction Vehicle',
    'Flatbed Tr': 'Truck',
    'Tour Bus': 'Tour Bus',
    'Usps Mail': 'Van',
    'Us Postal': 'Van',
    'Jetski': 'JetSki',
    'Scoot': 'Scooter',
    'Power Shov': 'Construction Vehicle',
    'Ems Truck': 'Truck',
    'Nyc Bus': 'Bus',
    'E-Skateboa': 'Skateboard',
    'Special Pu': 'Special Purpose Vehicle',
    'Frieghtlin': 'Truck',
    'Ram': 'Truck',
    'Palfinger': 'Construction Vehicle',
    'Moped Scoo': 'Moped',
    'Electric M': 'E-bike',
    'Internatio': 'International',
    'Street Cle': 'Road Sweeper',
    'Mta Truck': 'Truck',
    'Escooter': 'E-Scooter',
    '4Dsd': 'Sedan',
    'Nyc Firetr': 'Fire Truck',
    'Street Swe': 'Road Sweeper',
    'Vanette': 'Van',
    'Ukn': 'Unknown',
    'Utility Tr': 'Utility Vehicle',
    'Mopd': 'Moped',
    'Tree Cutte': 'Tree Cutter',
    'Toyota': 'Sedan',
    'Bob Cat': 'Truck',
    'Escovator': 'Construction Vehicle',
    'Glp050Vxev': 'Forklift',
    'Van/Transi': 'Van',
    'Razor Scoo': 'E-Scooter',
    'Gas Scoote': 'Scooter',
    'Mobile': 'Unknown',
    'Haul For H': 'Van',
    'Pick Truck': 'Truck',
    'Commerical': 'Commercial Vehicle',
    'Glass Rack': 'Unknown',
    'Suv': 'SUV',
    'Vehicle 2': 'Unknown',
    'Tow Trk': 'Tow Truck',
    "MTA" : "Bus",
    "OMS": "Ambulance",
    "EMERGENCY" : "Ambulance",
    "CITY" : "bus",
    "TR-TRAILER" : "Trailer",
    "ESU RESCUE" : "Ambulance",
    "D/V WB" : "van",
    "SNOW PLOW" : "Snow plow",
    "YELLOW CAB" : "taxi",
    "BOBCAT" : "truck",
    "NAT GRID T" : "truck",
    "SE" : "Special equipment vehicle",
    "POSTAL SER" : "vaN",
    "HOPPER" : "truck",
    "BACKH" : "TRUCK",
    "LIT DIRECT" : "Special equipment vehicle",
    "TR" : "Truck",
    "NYS AMBULA" : "ambulance",
    "G COM" : "Government vehicle",
    "CHILDREN VEHICLE" : "Children vehicle",
    "HEARSE" : "Hearse",  
    "TRAIL" : "TrailER",
    "TANK" : "Tank",
    'CONCRETE M' : "Construction Vehicle",
    "UNATTACHED" : "Trailer",  
    "UHAUL BOX" : "Van",              
    'UHAUL TRAI' :"Trailer",               
    'BMW MOPED'  : "Moped",              
    'TRANSPORT': "Unknown",
    'Box': "Truck",
    'INTERNATIONAL': 'Unknown',
    'CITY OF NE': 'Bus',
    'HINO TANK': 'Tanker',                      
    'NYC FIRE T': 'Fire Truck',
    'POSTAL CAR': 'van',
    'SHORT BUS': 'Bus',
    'SCOTTER': 'Scooter',
    'UTILITY': 'Utility Vehicle',
    'PICK RD': 'Truck',
    'BULDOZER': 'Construction Vehicle',
    'AMBULETTE': 'Ambulance',
    'GOV': 'Government Vehicle',
    'MOBILE FOO': 'Truck',
    'SEMI-TRAIL': 'Trailer',
    'VENDOR CHA': 'Vendor Cart',
    '600AJ': 'Construction Vehicle',
    'COMME': 'Commercial Vehicle',
    'SPINTER VA': 'Van',
    'BLU BUS': 'Bus',
    'LIVERY OMN': 'Van',
    'NYC DOT': 'Government Vehicle',
    'TANK WH': 'Tanker',
    'FEDERAL EX': 'Truck',
    'TOUR BUS': 'Tour Bus',
    'HEARSE': 'Hearse',
    'SEMI TRAIL': 'Trailer'}

mis_val = {k.upper():v.upper() for k,v in mis_val.items()}

In [ ]:
#replacing wrongly spelt values
df_merge['VEHICLE TYPE CODE 1'] = df_merge['VEHICLE TYPE CODE 1'].str.upper().replace(mis_val)


df_merge['VEHICLE TYPE CODE 1'].value_counts()

SEDAN                        31615
STATION WAGON                25178
TRUCK                         3598
TAXI                          2570
BUS                            887
BIKE                           778
TRACTOR                        566
MOTORCYCLE                     465
VAN                            454
AMBULANCE                      420
E-SCOOTER                      244
E-BIKE                         157
MOPED                          149
GARBAGE TRUCK                  122
UTILITY VEHICLE                105
TOW TRUCK                       66
FIRE TRUCK                      51
TANKER                          47
MOTORBIKE                       37
LIMOUSINE                       34
TRAILER                         31
CONSTRUCTION VEHICLE            25
SCHOOL BUS                      22
UNKNOWN                         18
ARMORED TRUCK                   17
FORKLIFT                         7
SUV                              6
COMMERCIAL VEHICLE               6
HORSE                            3
GOVERNMENT VEHICLE               3
SCOOTER                          2
SPECIAL EQUIPMENT VEHICLE        2
PEDICAB                          1
SKATEBOARD                       1
HEARSE                           1
CHILDREN VEHICLE                 1
SNOW PLOW                        1
TANK                             1
Name: VEHICLE TYPE CODE 1, dtype: int64

In [ ]:
#replacing wrongly spelt values
df_merge['VEHICLE TYPE CODE 2'] = df_merge['VEHICLE TYPE CODE 2'].str.upper().replace(mis_val)

df_merge['VEHICLE TYPE CODE 2'].value_counts()

SEDAN                      20923
STATION WAGON              16925
TRUCK                       3391
BIKE                        2165
TAXI                        1524
BUS                          803
TRACTOR                      551
MOTORCYCLE                   402
VAN                          386
E-SCOOTER                    312
E-BIKE                       295
AMBULANCE                    188
MOPED                        155
GARBAGE TRUCK                125
UTILITY VEHICLE               80
MOTORBIKE                     66
TOW TRUCK                     60
FIRE TRUCK                    54
UNKNOWN                       50
CONSTRUCTION VEHICLE          43
TRAILER                       38
TANKER                        37
LIMOUSINE                     33
FORKLIFT                      21
SCOOTER                       15
SCHOOL BUS                    13
ARMORED TRUCK                 10
COMMERCIAL VEHICLE             9
ROAD SWEEPER                   2
PEDICAB                        2
SKATEBOARD                     2
GOVERNMENT VEHICLE             2
SPECIAL PURPOSE VEHICLE        1
SUV                            1
CHILDREN VEHICLE               1
TREE CUTTER                    1
JETSKI                         1
HEARSE                         1
TOUR BUS                       1
VENDOR CART                    1
Name: VEHICLE TYPE CODE 2, dtype: int64

In [ ]:
#replacing wrongly spelt values
df_merge['VEHICLE TYPE CODE 3'] = df_merge['VEHICLE TYPE CODE 3'].str.upper().replace(mis_val)

df_merge['VEHICLE TYPE CODE 3'].value_counts()

SEDAN                   2852
STATION WAGON           2439
TRUCK                    224
TAXI                     121
VAN                       30
BUS                       30
BIKE                      28
TRACTOR                   28
MOTORCYCLE                18
E-SCOOTER                  6
TRAILER                    5
UTILITY VEHICLE            4
E-BIKE                     4
CONSTRUCTION VEHICLE       4
TOW TRUCK                  4
AMBULANCE                  3
GARBAGE TRUCK              3
UNKNOWN                    2
MOTORBIKE                  2
FIRE TRUCK                 2
LIMOUSINE                  1
MOPED                      1
Name: VEHICLE TYPE CODE 3, dtype: int64

In [ ]:
#replacing wrongly spelt values
df_merge['VEHICLE TYPE CODE 4'] = df_merge['VEHICLE TYPE CODE 4'].str.upper().replace(mis_val)

df_merge['VEHICLE TYPE CODE 4'].value_counts()

SEDAN              809
STATION WAGON      694
TRUCK               51
TAXI                25
MOTORCYCLE           7
VAN                  6
BUS                  5
TRACTOR              3
BIKE                 2
TRAILER              2
LIMOUSINE            2
E-SCOOTER            2
E-BIKE               1
UTILITY VEHICLE      1
FIRE TRUCK           1
Name: VEHICLE TYPE CODE 4, dtype: int64

In [ ]:
#replacing wrongly spelt values
df_merge['VEHICLE TYPE CODE 5'] = df_merge['VEHICLE TYPE CODE 5'].str.upper().replace(mis_val)

df_merge['VEHICLE TYPE CODE 5'].value_counts()

SEDAN            230
STATION WAGON    196
TRUCK             23
TAXI               5
VAN                4
MOTORCYCLE         3
TRACTOR            2
MOPED              1
E-SCOOTER          1
BUS                1
Name: VEHICLE TYPE CODE 5, dtype: int64

In [ ]:
# Export the DataFrame to a CSV file
df_merge.to_csv('Clean.csv', index=False)
files.download('Clean.csv')